@import url(../place/place.css);

.places {
  width: calc(100% - 100px * 2);
  margin: 0 auto;
  margin-top: 92px;
}

@media screen and (max-width: 1279px) {
  .places {
    width: calc(100% - 48px * 2);
  }
}

@media screen and (max-width: 1023px) {
  .places {
    margin-top: 88px;
    width: calc(100% - 24px * 2);
  }
}

@media screen and (max-width: 767px) {
  .places {
    margin-top: 64px;
    width: 100%;
  }
}
