.header__logo {
  max-width: 176px;
  min-height: 52px;
}

.header__logo:hover {
  opacity: 0.3;
  transition: 0.3s;
}

@media screen and (max-width: 767px) {
  .header__logo {
    max-width: 142px;
    min-height: 42px;
  }
}
