@import url(../header/__logo/header__logo.css);
@import url(../header/__link/header__link.css);
@import url(../header/__link/_active/header__link_active.css);
@import url(../header/__links/header__links.css);

.header {
  margin: 0 auto;
  display: flex;
  width: 100%;
  max-height: 52px;
  justify-content: space-between;
  align-items: flex-end;
}

@media screen and (max-width: 1279px) {
  .header {
    width: calc(100% - 2 * 48px);
  }
}

@media screen and (max-width: 1023px) {
  .header {
    width: calc(100% - 2 * 24px);
  }
}

@media screen and (max-width: 767px) {
  .header {
    width: calc(100% - 2 * 16px);
    max-height: 42px;
  }
}
