.header__link {
  display: flex;
  font-size: 24px;
  line-height: 1.15;
  text-decoration: none;
  font-style: normal;
  color: #fff;
  font-weight: 400;
  margin-left: 18px;
  transition: 0.3s;
}

.header__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .header__link {
    font-size: 18px;
    line-height: 1.1;
  }
}
